.footer {
  padding: 100px $content-padding-desktop;
  background-color: $grenade;
  color: white;
  @include flex();

  .column {
    width: 50%;

    .row {
      display: block;
      @include flex(center);
      max-width: 310px;
      padding-bottom: 30px;
      text-decoration: none;
      color: $white;

      .text {
        padding-left: 20px;
      }
    }

    .map {
      width: 100%;
      object-fit: cover;
    }
  }
}

@include respond-to($xl) {
  .footer {
    padding: 100px $content-padding-tablet;
  }
}

@include respond-to($small) {
  .footer {
    padding: 100px $content-padding-mobile;
    flex-direction: column;
    .column{
      width: 100%;
    }
  }
}

