@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "hero";
@import "button";
@import "read-more";


.home {
  min-height: 100vh;
}

.title{
  font-size: 72px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 110px;
  color: $white;
  @include respond-to($xl){
    font-size: 64px;
    line-height: 96px;
  }
}


