@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "hero";
@import "button";


.home {
  min-height: 100vh;
}

.title{
  font-size: 72px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 110px;
  color: $white;
  padding-top: 85px;
}
