.newsletter {
  padding: 50px;
  background-color: $grenade;
  @include flex(center, center);
  color: $light-blue;

  .question {
    font-size: 18px;
    line-height: 32px;
    margin-right: 20px;
  }

  input {
    &::placeholder {
      color: $light-blue;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
  }
}

@include respond-to($small){
  .newsletter{
    flex-direction: column;
    align-items: start;
    .question{
      padding-bottom: 20px;
    }
    input{
      margin-bottom: 20px;
    }
  }
}
