.slogan{
  background-color: $white;
  padding: 50px $content-padding-desktop;
  @include flex;
  &__title{
    width: 50%;
  }
  &__text{
    width: 50%;
    font-size: 36px;
    color: $black;
  }
}

@include respond-to($xxl){
  .slogan{
    padding: 75px $content-padding-tablet;
    &__text{
      font-size: 24px;
    }
  }
}

@include respond-to($small){
  .slogan{
    padding: 50px $content-padding-mobile;

    flex-direction: column;
&__title{
  width: 100%;
  padding-bottom: 25px;
}
    &__text{
      width: 100%;
      font-size: 16px;
    }
  }
}
