.socials-wrapper {
  @include flex;
  padding-top: 50px;

  .icon {
    margin-right: 20px;
    transition: .3s;

    &:hover {
      filter: invert(.3);
    }
  }
}

@include respond-to($xl){
  .socials-wrapper {
    padding-top: 25px;
  }
}
@include respond-to($small){
  .socials-wrapper {
    padding: 25px 0;
  }
}
